@{
    ViewBag.Title = "About Us";
}
<h2 align=center>@ViewBag.Title</h2>
<h3 style="padding-bottom: 10px;">@ViewBag.Message</h3>

<p>This website's purpose is to provide a ticket system for customers to communicate with companies. This is most frequently used for technology companies, however it can be adapted for any type of company needing a ticketing system.</p>
