@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Street<br />
    Louisville, KY 40218<br />
    <abbr title="Phone">Phone:</abbr>
    859-878-9872
</address>

<address>
    <strong>Email:</strong> <a href="mailto:zeb@21stwebsolutions.com">zeb@21stwebsolutions.com</a>
</address>